body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
    margin: 0;
    background-color: #343a40;
    color: #fff;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item {
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}

.custom-row {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
}

#input {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#input span{
    display: flex;
    flex-direction: column;
}


.custom-gap-2 {
    gap: 10px;
}

.custom-col {
    display: flex;
    align-items: center;
}

.custom-justify-end {
    justify-content: flex-end;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.bg-dark {
    background-color: #343a40;
}

.text-white {
    color: #fff;
}


@media (max-width: 450px){
    #speed,
    #size{
        width: 110px;
    }

    #input #size{
        margin-right: 10px;
    }

    .flex-container {
        margin-left: 10px;
        /* justify-content: center; */
    }

    .sort{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}  

@media (min-width: 760px){
    #speed,
    #size{
        width: 200px;
    }

    #input #size{
        margin-right: 20px;
    }

    .flex-container {
        margin-left: 10px;
    }

    .custom-row,
    .custom-row button{
        font-size: 20px;
    }
} 
